In [7]:
pip install lasio

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting lasio
  Downloading lasio-0.31-py2.py3-none-any.whl (47 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 47.4/47.4 kB 4.2 MB/s eta 0:00:00
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from lasio) (1.22.4)
Installing collected packages: lasio
Successfully installed lasio-0.31

In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import lasio
import plotly.graph_objects as go
import plotly.express as px
from plotly.subplots import make_subplots

In [40]:
well = lasio.read("akos-2.las").df()

In [41]:
well.reset_index(inplace=True)

In [42]:
well

         DEPTH  SONIC  CAL  NPHI  RHOB  GR_NM  LL9D
0          0.0    NaN  NaN   NaN   NaN    NaN   NaN
1          0.5    NaN  NaN   NaN   NaN    NaN   NaN
2          1.0    NaN  NaN   NaN   NaN    NaN   NaN
3          1.5    NaN  NaN   NaN   NaN    NaN   NaN
4          2.0    NaN  NaN   NaN   NaN    NaN   NaN
...        ...    ...  ...   ...   ...    ...   ...
29996  14998.0    NaN  NaN   NaN   NaN    NaN   NaN
29997  14998.5    NaN  NaN   NaN   NaN    NaN   NaN
29998  14999.0    NaN  NaN   NaN   NaN    NaN   NaN
29999  14999.5    NaN  NaN   NaN   NaN    NaN   NaN
30000  15000.0    NaN  NaN   NaN   NaN    NaN   NaN

[30001 rows x 7 columns]

In [44]:
filepath = '/content/Akos_02 top-Copy1.csv'

tops = pd.read_csv(filepath)

tops

                 Formation  DEPTH
0     B2000_top              6935
1     B2000_base             7362
2     B3000_top              7598
3     B3000_base             8377
4   ZZak1                    8382
..                     ...    ...
82    G8000_base            13588
83    H1000_top             14365
84    H1000_base            14472
85    H2000_top             14528
86    H2000_base            14590

[87 rows x 2 columns]

In [54]:
  import numpy as np
  import pandas as pd

  # generate list of formation depths and top names
  fm_tops = df_tops.iloc[:,0].values
  fm_depths = df_tops.iloc[:,1].values

  # create FM. LABEL column to well dataframe
  # initiate with NaNs
  df_well[label_name] = np.full(len(df_well), np.nan)

  indexes = []
  topnames = []
  for j in range(len(fm_depths)):
    # search index at which the DEPTH in the well df equals to OR
    # larger than the DEPTH of each pick in the pick df
    if (df_well[column_depth].iloc[-1] > fm_depths[j]):
      index = df_well.index[(df_well[column_depth] >= fm_depths[j])][0]
      top = fm_tops[j]
      indexes.append(index)
      topnames.append(top)

  # replace the NaN in the LABEL column of well df
  # at the assigned TOP NAME indexes
  df_well[label_name].loc[indexes] = topnames

  # Finally, using pandas "ffill" to fill all the rows
  # with the TOP NAMES
  df_well = df_well.fillna(method='ffill')

  df_well

,DEPTH,SONIC,CAL,NPHI,RHOB,GR_NM,LL9D,Surface
0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
29996,14998.0,124.375,6.0,0.4554,2.5966,94.6087,2.2679,H2000_base
29997,14998.5,124.375,6.0,0.4554,2.5966,94.6087,2.2679,H2000_base
29998,14999.0,124.375,6.0,0.4554,2.5966,94.6087,2.2679,H2000_base
29999,14999.5,124.375,6.0,0.4554,2.5966,94.6087,2.2679,H2000_base
30000,15000.0,124.375,6.0,0.4554,2.5966,94.6087,2.2679,H2000_base

In [55]:
well['Surface'] = well['Surface'].fillna('Unknown')

In [56]:
well

         DEPTH  SONIC  CAL  NPHI  RHOB  GR_NM  LL9D  Surface
0          0.0    NaN  NaN   NaN   NaN    NaN   NaN  Unknown
1          0.5    NaN  NaN   NaN   NaN    NaN   NaN  Unknown
2          1.0    NaN  NaN   NaN   NaN    NaN   NaN  Unknown
3          1.5    NaN  NaN   NaN   NaN    NaN   NaN  Unknown
4          2.0    NaN  NaN   NaN   NaN    NaN   NaN  Unknown
...        ...    ...  ...   ...   ...    ...   ...      ...
29996  14998.0    NaN  NaN   NaN   NaN    NaN   NaN  Unknown
29997  14998.5    NaN  NaN   NaN   NaN    NaN   NaN  Unknown
29998  14999.0    NaN  NaN   NaN   NaN    NaN   NaN  Unknown
29999  14999.5    NaN  NaN   NaN   NaN    NaN   NaN  Unknown
30000  15000.0    NaN  NaN   NaN   NaN    NaN   NaN  Unknown

[30001 rows x 8 columns]

In [82]:
  def well_log_display(df, column_depth, column_list,
                     column_semilog=None, min_depth=None, max_depth=None,
                     column_min=None, column_max=None, colors=None,
                     fm_tops=None, fm_depths=None,
                     tight_layout=1, title_size=10):
"""
  Display log side-by-side style
  Input:
  df is your dataframe
  specify min_depth and max_depth as the upper and lower depth limit
  column_depth is the column name of your depth
  column_list is the LIST of column names that you will display

  column_semilog is specific for resistivity column; if your resistivities are
    in column 3, specify as: column_semilog=2. Default is None, so if you don't
    specify, the resistivity will be plotted in normal axis instead

  column_min is list of minimum values for the x-axes.
  column_max is list of maximum values for the x-axes.

  colors is the list of colors specified for each log names. Default is None,
    so if don't specify, the colors will be Matplotlib default (blue)
  fm_tops and fm_depths are the list of formation top names and depths.
    Default is None, so no tops are shown. Specify both lists, if you want
    to show the tops
  """
  import numpy as np
  import matplotlib.pyplot as plt
  import pandas as pd
  import random

  if column_semilog==None:
    # column semilog not defined, RT will be plotted in normal axis
    logs = column_list

    # create the subplots; ncols equals the number of logs
    fig, ax = plt.subplots(nrows=1, ncols=len(logs), figsize=(20,10))

    # looping each log to display in the subplots
    if colors==None:
      # color is None (default)
      for i in range(len(logs)):
        # normal axis plot
        ax[i].plot(df[logs[i]], df[column_depth])
        ax[i].set_title(logs[i], size=title_size)
        ax[i].minorticks_on()
        ax[i].grid(which='major', linestyle='-', linewidth='0.5', color='lime')
        ax[i].grid(which='minor', linestyle=':', linewidth='0.5', color='black')
        if column_min!=None and column_max!=None:
          # x-axis limits defined
          ax[i].set_xlim(column_min[i], column_max[i])
        if min_depth!=None and max_depth!=None:
          # y-axis limit defined
          ax[i].set_ylim(min_depth, max_depth)
        ax[i].invert_yaxis()

    else:
      # colors are defined (as list)
      for i in range(len(logs)):
        # normal axis plot
        ax[i].plot(df[logs[i]], df[column_depth], color=colors[i])
        ax[i].set_title(logs[i], size=title_size)
        ax[i].minorticks_on()
        ax[i].grid(which='major', linestyle='-', linewidth='0.5', color='lime')
        ax[i].grid(which='minor', linestyle=':', linewidth='0.5', color='black')
        if column_min!=None and column_max!=None:
          # x-axis limits defined
          ax[i].set_xlim(column_min[i], column_max[i])
        if min_depth!=None and max_depth!=None:
          # y-axis limit defined
          ax[i].set_ylim(min_depth, max_depth)
        ax[i].invert_yaxis()


  else:
    # column semilog is defined, RT will be plotted in semilog axis
    logs = column_list

    # create the subplots; ncols equals the number of logs
    fig, ax = plt.subplots(nrows=1, ncols=len(logs), figsize=(20,10))

    # looping each log to display in the subplots
    if colors==None:
      # color is None (default)
      for i in range(len(logs)):
        if i == column_semilog:
          # for resistivity, semilog plot
          ax[i].semilogx(df[logs[i]], df[column_depth])
        else:
          # for non-resistivity, normal plot
          ax[i].plot(df[logs[i]], df[column_depth])

        ax[i].set_title(logs[i], size=title_size)
        ax[i].minorticks_on()
        ax[i].grid(which='major', linestyle='-', linewidth='0.5', color='lime')
        ax[i].grid(which='minor', linestyle=':', linewidth='0.5', color='black')
        if column_min!=None and column_max!=None:
          # x-axis limits defined
          ax[i].set_xlim(column_min[i], column_max[i])
        if min_depth!=None and max_depth!=None:
          # y-axis limit defined
          ax[i].set_ylim(min_depth, max_depth)
        ax[i].invert_yaxis()

    else:
      # colors are defined (as list)
      for i in range(len(logs)):
        if i == column_semilog:
          # for resistivity, semilog plot
          ax[i].semilogx(df[logs[i]], df[column_depth], color=colors[i])
        else:
          # for non-resistivity, normal plot
          ax[i].plot(df[logs[i]], df[column_depth], color=colors[i])

        ax[i].set_title(logs[i], size=title_size)
        ax[i].minorticks_on()
        ax[i].grid(which='major', linestyle='-', linewidth='0.5', color='lime')
        ax[i].grid(which='minor', linestyle=':', linewidth='0.5', color='black')
        if column_min!=None and column_max!=None:
          # x-axis limits defined
          ax[i].set_xlim(column_min[i], column_max[i])
        if min_depth!=None and max_depth!=None:
          # y-axis limit defined
          ax[i].set_ylim(min_depth, max_depth)
        ax[i].invert_yaxis()

  if fm_tops!=None and fm_depths!=None:
    # Formation tops and depths are specified, they will be shown

    # produce colors
    rgb = []
    for j in range(len(fm_tops)):
      _ = (random.random(), random.random(), random.random())
      rgb.append(_)

    for i in range(len(logs)):
      for j in range(len(fm_tops)):
        # rgb = (random.random(), random.random(), random.random())
        ax[i].axhline(y=fm_depths[j], linestyle=":", c=rgb[j], label=fm_tops[j])
        # y = fm_depths[j] / (max_depth - min_depth)
        # ax[i].text(0.5, y, fm_tops[j], fontsize=5, va='center', ha='center', backgroundcolor='w')

  # plt.legend()
  # plt.legend(loc='upper center', bbox_to_anchor=(-3, -0.05),
  #            fancybox=True, shadow=True, ncol=5)

  plt.tight_layout(tight_layout)
  plt.show()

IndentationError: ignored